# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Node
node_modules/
dist/
build/

# Docker
*.log
*.pid
*.db
*.sqlite3
*.sock
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp

