services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: http://localhost:5050
    ports:
      - "5173:5173"
    # environment:
    #   - VITE_API_BASE_URL=http://backend:5000  # Adjust as needed for your backend API
    networks:
      - app-network

networks:
  app-network:  
    external: true
